.cover__link {
    display: block;
    text-decoration: none;
    max-width: 1184px;
    aspect-ratio: 8 / 5;
    margin: 0 auto;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}