.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    width: 90vw;
    max-width: 1184px;
    border: 1px solid red;
}

/* @media screen and (min-width: 1280px) {
    .header {
    }
} */
