.cover__wrap-text {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* opacity: .3; */
    background: rgba(42, 44, 47, .3);
}

.cover__wrap-text:hover {
    /* opacity: .8; */
    background: rgba(42, 44, 47, .8);
}