.lead__subtitle {
    margin: 16px auto 40px;
    max-width: 288px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        max-width: 640px;
        margin: 32px auto 56px;
        font-size: 30px;
        line-height: 1.20;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
       margin-bottom: 64px;       
    }
}